.board {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  cursor: crosshair;
  background-image: url(../images/board-dark-green-min.jpg);
  background-repeat: repeat;

  #canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

}
