.board {
  position: relative;
  background-image: url(../images/texture.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -khtml-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  height: 100%;
  width: 100%;

  #canvas {
    height: calc(~"100% - 3px");
    width: 100%;
  }

}
