.menu {
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 15px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #454545;
  color: #fff;
  cursor: pointer;

  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);

  .menu-board {
    position: relative;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: #676767;
  }
}
